Package: com.roboa.ios26spoofer
Name: iOS26Spoofer
Version: 1.1.0
Architecture: iphoneos-arm64
Description: Customizable runtime iPadOS 26.0 version spoofer.
Maintainer: RoboA
Author: RoboA
Section: Tweaks
Depends: mobilesubstrate, preferenceloader
