{
    CFBundleDisplayName = iOS26Spoofer;
    CFBundleDevelopmentRegion = English;
    CFBundleExecutable = iOS26SpooferPrefs;
    CFBundleIdentifier = "com.roboa.ios26spoofer.preferences";
    CFBundleInfoDictionaryVersion = "6.0";
    CFBundleName = iOS26SpooferPrefs;
    CFBundlePackageType = BNDL;
    CFBundleShortVersionString = "1.1.2";
    CFBundleSignature = "????";
    CFBundleVersion = "1.1.2";
    NSPrincipalClass = I26RootListController;
}
